@import "_config";

.side_bar {
	min-height: 100%;
	min-width: 250px;
	width: 15%;
	background-color: lighten($base-color, 5%);
	// lighten($tertiary-color, 10%);
	border-right: 1px solid white;
	.logo {
		margin: 1rem auto 10rem;
		width: fit-content;
		height: fit-content;
		h2 {
			color: lighten($secondary-color,80%);
		}
	}
	a {
		display: block;
		text-decoration: none;
		font-size: 1rem;
		width: 100%;
		margin: 1rem auto;
		padding: 1rem;
		color: lighten($secondary-color,80%);
		background-color: $tertiary-color;
		.fa-solid {
			margin-right: 1rem;
			background-color: yellow;
		}
		&:hover {
			color: #eee;
			background-color: lighten($base-color,30%);
		}
	}
}
